@use "global" as *;

.footer-nav {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 9999;
}


.footer-nav__body {
    display: flex;
    justify-content: center;
    @include mq("md") {
        gap: rem(34);
        margin-left: auto;
    }
}

.footer-nav__left {
    @include mq("md") {
        display: flex;
        gap: rem(140);
        width: calc(50% - rem(14));
    }
}

// .footer-nav__left--sitemap {
//     @include mq("md") {
//         width: calc(50% - rem(14));
//     }
// }

.footer-nav__right {
    margin-left: rem(28);
    @include mq("md") {
        display: flex;
        gap: rem(140);
        width: calc(50% - rem(14));
    }
}

.footer-nav__wrap {
    margin-top: rem(15);
}

.footer-nav__item a {
    display: block;
    width: 100%;
    font-weight: $regular;
    font-family: $third-font-family;
    font-size: rem(16);
    line-height: 1.125;
    padding-top: rem(12);
    padding-bottom: rem(12);
    padding-left: rem(12);
    white-space: nowrap;
    transition: opacity .3s;
    position: relative;
}

.footer-nav__item a:hover {
    opacity: 0.7;
}

.footer-nav__item:first-child a {
    font-weight: $bold;
    padding-left: rem(20);
}

.footer-nav__item:first-child {
    margin-left: rem(-9);
}

.footer-nav__item:first-child a::before {
    content: url(../images/common/hitode.svg);
    width: rem(18);
    height: rem(18);
    margin-right: rem(4);
    position: absolute;
    left: 0;
    top: rem(12);
}

.footer-nav__item.footer-nav__item--sitemap:first-child a::before {
    content: url(../images/common/hitode-sitemap.svg);
}

.footer-nav__item-indent {
    display: block;
    @include mq("md") {
        display: none;
    }
}

// .footer-nav__item--sitemap {
//     margin-left: rem(30);
// }