@use "global" as *;

.footer {
    width: 100%;
    color: $white;
    background-color: $green;
    padding-top: rem(50);
    padding-bottom: rem(56);
    display: inline-block;
    @include mq("md") {
        padding-top: rem(80);
        padding-bottom: rem(80);
    }
}

.footer--sitemap {
    background-color: $white;
    color: $darkgreen;
    padding-top: 0;
    padding-bottom: rem(90);
}

.footer__inner {
    @include mq("md") {
        max-width: rem(1058);
        width: 100%;
    }
}

.footer__top {
    @include mq("md") {
        display: flex;
    }
}

.footer__logo {
    width: rem(120);
    @include mq("md") {
        width: rem(200);
    }
}

.footer__sns {
    display: flex;
    margin-top: rem(16);
    gap: rem(16);
    @include mq("md") {
        margin-top: rem(35);
        margin-left: rem(40);
    }
}

.footer__sns-icon {
    width: rem(24);
    height: rem(24);
    @include mq("md") {
        width: rem(32);
        height: rem(32);
    }
}

.footer__bottom {
    margin-top: rem(16);
    @include mq("md") {
        margin-top: rem(-10);
    }
}

.footer__copyright {
    font-size: rem(14);
    line-height: calc(18 / 12);
    font-weight: $regular;
    margin-top: rem(22);
    text-align: center;
    @include mq("md") {
        font-size: rem(17);
        line-height: 1.2857;
        margin-top: rem(66);
    }
}
