@use "global" as *;

.page-contact-form__inner.common-fish::before {
    top: -2.4%;
    @include mq("md") {
        top: -4.8%;
    }
}

.page-contact-form__inner.inner {
    @include mq("md") {
        max-width: rem(750);
    }
}

.page-contact-form {
    @include mq("md") {
        max-width: rem(750);
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}