@use "global" as *;

.sidebar-archive__lists {
    margin-top: rem(28);
    color: $green;
    font-size: rem(24);
    font-family: $third-font-family;
}

.sidebar-archive__list {
    margin-top: rem(3);
}

.sidebar-archive__year {
    cursor: pointer;
}

.sidebar-archive__year,
.sidebar-archive__month {
    position: relative;
    padding-left: rem(32);
}

.sidebar-archive__months {
    padding-left: rem(24);
    display: none;
}

.sidebar-archive__month {
    margin-top: rem(3);
}

.sidebar-archive__year::before,
.sidebar-archive__month::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: rem(3);
    top: 15%;
    width: rem(24);
    height: rem(24);
    background-image: url("../images/common/archive-polygon.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s;
}

.sidebar-archive__year.is-active::before {
    transform: rotate(90deg);
}
