@use "global" as *;

.sidebar-popular__items {
    margin-top: rem(24);
}

.sidebar-popular__item:not(:first-child) {
    margin-top: rem(24);
}

.sidebar-popular__link {
    display: flex;
    padding: rem(16);
    box-shadow: rem(2) rem(2) rem(10) 0 rgba(0,0,0,0.25);
}

.sidebar-popular__img {
    width: 46%;
}

.sidebar-popular__img img {
    aspect-ratio: 121 / 90;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar-popular__body {
    margin-left: rem(16);
    margin-top: rem(-4);
}

.sidebar-popular__date {
    font-size: rem(12);
    font-weight: $regular;
    font-family: $base-font-family;
    line-height: 1.5;
    color: $darkgreen;
}

.sidebar-popular__text {
    font-size: rem(16);
    font-weight: $medium;
    font-family: $third-font-family;
    line-height: 1.4375;
    color: $darkgreen;
}