@use "global" as *;

.wp-pagenavi {
	clear: both;
	display: flex;
	justify-content: center;
	text-align:center;
	width: 100%;
}

.wp-pagenavi__page {
    display: flex;
	font-family: $second-font-family;
	@include mq("md") {
        justify-content: center;
	}
}

.wp-pagenavi a,
.wp-pagenavi span {
	color: $green;
	background-color: $white;
	padding: rem(7);
	margin: 0 rem(6);
	width: rem(38);
	height: rem(38);
	white-space: nowrap;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	text-align: center;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	border: rem(1) solid $green;
}

.wp-pagenavi a:hover,
.wp-pagenavi span.current {
	color: $white;
	background-color: $green;
}

.wp-pagenavi a.previouspostslink {
    margin-right: rem(34);
}

.wp-pagenavi a.nextpostslink {
	margin-left: rem(34);
}

// .wp-pagenavi span.current{
// 	color: $white;
// 	background-color: $green;
// }

.wp-pagenavi .larger:nth-child(n + 4) {
   display: none;
   @include mq("md") {
	   display: block;
   }
}

.wp-pagenavi.wp-pagenavi--single {
	column-gap: rem(14);
}

.wp-pagenavi .larger:nth-child(n + 5) {
    display: none;
    @include mq("md") {
        display: block;
    }
 }
